# Sports car prices dataset

Imports the necessary libraries for data analysis and visualization.

- pandas: for data manipulation and analysis
- datetime: for working with date and time data
- numpy: for numerical operations
- scikit-learn: for machine learning algorithms
- matplotlib.pyplot: for creating static visualizations
- seaborn: for creating statistical graphics

In [360]:
import pandas as pd
import datetime as dt
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RandomizedSearchCV


import matplotlib.pyplot as plt
import seaborn as sns

Read the CSV file

In [362]:
df_raw = pd.read_csv('Data/Sport car price.csv')
df = df_raw.copy(deep=True)
# Display the first 5 rows of the DataFrame
df.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"

Exploring the dataset

In [363]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   object
 5   Torque (lb-ft)           1004 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   object
 7   Price (in USD)           1007 non-null   object
dtypes: int64(1), object(7)
memory usage: 63.1+ KB

In [364]:
df.describe(include = 'all')

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
count,1007,1007,1007.000000,997,1007,1004,1007,1007
unique,38,176,NaN,45,124,93,43,367
top,Porsche,GT,NaN,4,503,590,3.5,"500,000"
freq,88,55,NaN,219,45,71,153,34
mean,NaN,NaN,2021.201589,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,2.019802,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1965.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,2022.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,2023.000000,NaN,NaN,NaN,NaN,NaN

In [365]:
df.isnull().sum()

Car Make                    0
Car Model                   0
Year                        0
Engine Size (L)            10
Horsepower                  0
Torque (lb-ft)              3
0-60 MPH Time (seconds)     0
Price (in USD)              0
dtype: int64

Verifying the Engine size of the vehicles

In [366]:
df['Engine Size (L)'].unique()

array(['3', '5.2', '3.9', '4', '4.4', '6.2', '3.8', '8', '5', '3.5',
       '4.7', '2', '2.9', '6', 'Electric', '6.5', '3.7', 'Electric Motor',
       '2.5', '1.5 + Electric', '6.8', '8.4', nan, '6.6', '7', '1.7',
       '3.3', '-', '6.7', '1.8', 'Electric (tri-motor)', '5.5',
       'Electric (93 kWh)', 'Electric (100 kWh)', 'Hybrid (4.0)', '4.6',
       '3.6', '1.5', 'Hybrid', '5.7', '2.0 (Electric)', '4.0 (Hybrid)',
       '0', '6.4', '6.3', '2.3'], dtype=object)

Adjusting the only electric engine car needed

In [367]:
# Check if 'Engine Size (L)' contains 'electric' and create 'Electric' column
df['Electric'] = df['Engine Size (L)'].astype(str).str.lower().str.contains('electric')
df.loc[42, 'Engine Size (L)'] = 1.5
df.loc[df['Electric'] == True]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD),Electric
26,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000",True
37,Porsche,Taycan 4S,2022,Electric Motor,562,479,3.8,"104,000",True
42,BMW,i8,2020,1.5,369,420,4.2,"148,500",True
97,Rimac,Nevera,2022,Electric,1914,1696,1.95,"2,400,000",True
99,Tesla,Roadster,2022,Electric,1000+,737,1.9,"200,000",True
185,Porsche,Taycan,2021,Electric,750,774,2.6,"185,000",True
278,Rimac,C_Two,2022,Electric,1914,1732,1.85,"2,400,000",True
280,Pininfarina,Battista,2022,Electric,1874,1696,1.9,"2,500,000",True
299,Porsche,Taycan,2022,Electric,616,774,2.6,"79,900",True
300,Tesla,Model S,2022,Electric,1020,1050,1.98,"119,000",True
305,Porsche,Taycan Turbo S,2021,Electric,750,774,2.6,"185,000",True
320,Tesla,Model S Plaid,2021,Electric,1020,1050,1.9,"131,100",True
352,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000",True
354,Tesla,Roadster,2022,Electric,1000+,"10,000+",1.9,"200,000",True
364,Tesla,Roadster,2023,Electric,"1,000+",737,< 1.9,"200,000",True
401,Tesla,Model S Plaid,2021,Electric (tri-motor),1020,1050,1.9,"141,190",True
420,Lotus,Evija,2022,Electric,1973,1254,2.5,"2,750,000",True
439,Rimac,C_Two,2021,Electric,1914,1732,1.8,"2,400,000",True
509,Rimac,C_Two,2021,Electric,1914,1696,1.9,"2,400,000",True
511,Tesla,Model S Plaid,2021,Electric,1020,1050,1.9,"141,990",True
523,Lotus,Evija,2022,Electric,1973,1254,2.5,"2,600,000",True
525,Porsche,Taycan,2021,Electric,616,774,2.6,"185,000",True
526,Rimac,C_Two,2022,Electric,1914,1696,1.9,"2,400,000",True
527,Tesla,Model S Plaid,2022,Electric,1020,1050,1.98,"140,000",True
540,Tesla,Model S Plaid,2022,Electric,1020,1050,1.98,"139,990",True
543,Porsche,Taycan Turbo S,2022,Electric,750,774,2.6,"185,000",True
608,Porsche,Taycan 4S,2021,Electric (93 kWh),429,472,3.8,"103,800",True
622,Tesla,Model S Plaid,2022,Electric (100 kWh),1020,1050,1.98,"131,190",True
640,Rimac,Nevera,2021,Electric,1914,1696,1.9,"2,400,000",True
642,Tesla,Model S Plaid,2021,Electric,1020,NaN,1.9,"139,990",True
717,Porsche,Taycan Turbo S,2022,Electric,750,774,2.6,"185,000",True
821,Tesla,Roadster,2022,Electric,1000,737,1.9,"200,000",True
824,Rimac,Nevera,2021,Electric,1914,1696,1.85,"2,400,000",True
843,Porsche,Taycan,2022,2.0 (Electric),469,263,3.8,"81,250",True
869,Porsche,Taycan Turbo S,2021,Electric,750,774,2.6,"185,000",True
877,Lotus,Evija,2021,Electric,2000,1254,2.8,"2,800,000",True
878,Maserati,GranTurismo,2021,Electric,550,NaN,2.8,"200,000",True
955,Porsche,Taycan Turbo S,2021,Electric,750,774,2.6,"185,000",True
965,Tesla,Model S Plaid,2022,Electric,"1,020","1,050",1.9,"141,190",True
986,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000",True
987,Lotus,Evija,2022,Electric,1973,1254,2.5,"2,000,000",True
988,Pininfarina,Battista,2021,Electric,1872,1696,1.9,"2,500,000",True
1003,Lotus,Evija,2021,Electric Motor,1972,1254,2,"2,000,000",True
1006,Rimac,Nevera,2021,Electric Motor,1888,1696,1.85,"2,400,000",True

Verifying the Engine size of hybrid and electric vehicles

In [368]:
# Check if 'Engine Size (L)' contains 'electric' and create 'Electric' column
df['Electric'] = df['Engine Size (L)'].astype(str).str.lower().str.contains('electric')
df.loc[df['Engine Size (L)'].isnull(), 'Electric'] = True
df.loc[df['Engine Size (L)'] == '-', 'Electric'] = True
df['Electric'].value_counts()

Electric
False    953
True      54
Name: count, dtype: int64

In [369]:
# Changing the Engine Size of Electric Cars to 0

df.loc[df['Electric'] == True, 'Engine Size (L)'] = '0'

In [370]:
# Checking if the 'Engine Size (L)' has the word 'Hibrid' 

df['Hybrid'] = df['Engine Size (L)'].astype(str).str.lower().str.contains('hybrid')
(df['Hybrid'].value_counts())
df.loc[df['Hybrid'] == True]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD),Electric,Hybrid
626,Porsche,Panamera Turbo S E-Hybrid,2021,Hybrid (4.0),690,641,3,"186,350",False,True
732,BMW,i8,2022,Hybrid,369,184,4.2,"148,500",False,True
855,Ferrari,SF90 Stradale,2021,4.0 (Hybrid),986,590,2.5,"625,000",False,True
967,Porsche,Panamera Turbo S E-Hybrid,2021,Hybrid,689,642,3,"190,000",False,True

Correcting the Hybrid engine missing sizes

In [371]:
engine_updates = {
    732: '1.5',
    626: '4.0',
    967: '4.0',
    855: '4.0'
}

# Update the 'Engine Size (L)' column based on the engine_updates dictionary
for idx, value in engine_updates.items():
    df.loc[idx, 'Engine Size (L)'] = value

Handling 'torque' missing values

In [372]:
df = df[df['Torque (lb-ft)'].isnull() != True]

Verifying the Engine size of the vehicles

In [373]:
# Check if the column has any missing values, text or non-numeric values

df['Engine Size (L)'].unique()

array(['3', '5.2', '3.9', '4', '4.4', '6.2', '3.8', '8', '5', '3.5',
       '4.7', '2', '2.9', '6', '0', '6.5', '3.7', '2.5', 1.5, '6.8',
       '8.4', '6.6', '7', '1.7', '3.3', '6.7', '1.8', '5.5', '4.0', '4.6',
       '3.6', '1.5', '5.7', '6.4', '6.3', '2.3'], dtype=object)

Converting the types of each column

In [374]:
# Replace commas with dots in the 'Price (in USD)', 'Torque' and 'Horsepower' columns
df['Price (in USD)'] = df['Price (in USD)'].str.replace(',', '')
df['Torque (lb-ft)'] = df['Torque (lb-ft)'].str.replace(',', '')
df['Torque (lb-ft)'] = df['Torque (lb-ft)'].str.replace('+', '')
df['Horsepower'] = df['Horsepower'].str.replace('+', '')
df['Horsepower'] = df['Horsepower'].str.replace(',', '')

# Removing the rows where torque is equal to '-'
df = df[df['Torque (lb-ft)'] != '-']

In [375]:
df = df.astype({
    'Car Make': 'string',
    'Price (in USD)': 'float64',
    'Year': 'int64',
    'Engine Size (L)': 'float64',
    'Torque (lb-ft)': 'float64',
    'Horsepower': 'int64',
    'Car Model': 'string'
})


# Convert the 'Year' column to datetime type
# df['Year'] = pd.to_datetime(df['Year'])

print(df.dtypes)

Car Make                   string[python]
Car Model                  string[python]
Year                                int64
Engine Size (L)                   float64
Horsepower                          int64
Torque (lb-ft)                    float64
0-60 MPH Time (seconds)            object
Price (in USD)                    float64
Electric                             bool
Hybrid                               bool
dtype: object

Last Check on the info

In [377]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1003 entries, 0 to 1006
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1003 non-null   string
 1   Car Model                1003 non-null   string
 2   Year                     1003 non-null   int64
 3   Engine Size (L)          1003 non-null   float64
 4   Horsepower               1003 non-null   int64
 5   Torque (lb-ft)           1003 non-null   float64
 6   0-60 MPH Time (seconds)  1003 non-null   object
 7   Price (in USD)           1003 non-null   float64
 8   Electric                 1003 non-null   bool
 9   Hybrid                   1003 non-null   bool
 10  Price (in BRL)           1003 non-null   float64
 11  Torque (N-m)             1003 non-null   float64
dtypes: bool(2), float64(5), int64(2), object(1), string(2)
memory usage: 88.2+ KB

### Machine Learning Process

#### Feature Engineering